@font-face {
  font-family: 'Heebo';
  src: url('/src/assets/fonts/Heebo/Heebo-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('/src/assets/fonts/Heebo/Heebo-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('/src/assets/fonts/Heebo/Heebo-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('/src/assets/fonts/Heebo/Heebo-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Heebo', serif;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration-color: transparent;
  outline: none;
}

/* iphone zooming  */
textarea,
input,
select {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 100%;
}
